/*The background picture of the main menu */
.root{
	-fx-background-image:url('file:E://Dropbox/Programming/Java/Project/Dark-Souls-Tools-v2/Image/welcomemenu.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
}

.label{
	-fx-text-fill: #7e6f6f;
   	-fx-font-style:italic;
   	-fx-font-size: 20px;
}	