.root{
    -fx-background-color: #383838;
}

.label{
	-fx-text-fill: #fff;
   	-fx-font-style: normal;
   	-fx-font-size: 17px;
}	

.label1{
	fx-text-fill: #fff;
   	-fx-font-style: normal;
   	-fx-font-size: 25px;
}



.button {
	-fx-background-color: #f4511e;
	-fx-text-fill: #fff;
	-fx-font-size: 15px;
	-fx-opacity: 0.7;
	}
	
.button:hover {
    -fx-opacity: 1;
    -fx-color: white;
 
}